# Версия GMonit
TAG=

# GMonit linense key
LICENSE_KEY=

# random string
SECRET_TOKEN=

# Пароль для логина admin применяется при первом запуске
GRAFANA_ADMIN_PASSWORD=password

# В этом примере мы используeм домены вида *.company.ru.
# Замените их на ваши.

GRAFANA_DOMAIN=gmonit.company.ru
COLLECTOR_DOMAIN=gmonit-collector.company.ru

#== Обязательно установите пароли! ==#
# ClickHouse
CLICKHOUSE_PASSWORD=

# Postgres
POSTGRES_PASSWORD=

# COLLECTOR DATASOURCE
COLLECTOR_DATASOURCE_PASSWORD=

# email куда будут отправляться сообщения о проблемах с сертификатами
LETSENCRYPT_EMAIL=
